// _variables.scss
:root {
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
  --color-white: #fff;
  --color-grey: #707888;
  --primary-button-background: #07A88D;
  --primary-button-hover: #05a071;
  --input-text-border: 1px solid #E7E7EC;
  --card-border: 1px solid #999;
  --tag-background: #F2F6FE;
  --tag-label-color: #5888DB;
}